.main_div {
  width: 500px;
  height: 700px;
  border-radius: 20px;
  border: 1px solid red;
  position: relative;
  margin: 100px 200px;
}

.inside_div {
  position: relative;
  margin: 10px 0;
  text-align: center;
  list-style: none;
}
ol li ul {
  list-style: none;
}
